global_config.inc
*.log
*_log
**/var/**
**/**/var/**
**/**/config.inc
**/pwfile.inc
**/**/pwfile.inc
**/admin.inc
**/**/admin.inc
**/**/*.old
**/**/*.orig
**/*.old
**/*.orig
/nbproject/private/
/nbproject/**
**/nbroject
setperms.sh
**/setperms.sh
**/**/setperms.sh
localdefs
**/localdefs
**/**/localdefs
**/**/**/localdefs
/tmpl/
**/tmpl
**/**/Thumbs.db
